	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/03/2018 07:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/font/Flaticon.eot");
  src: url("/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/font/Flaticon.woff") format("woff"),
       url("/font/Flaticon.ttf") format("truetype"),
       url("/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-swimming-figure:before { content: "\f100"; }
    .flaticon-dumbbell:before { content: "\f101"; }
.flaticon-bicycle-rider:before { content: "\f102"; }
.flaticon-running:before { content: "\f103"; }
.flaticon-cup:before { content: "\f104"; }